
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <title></title>
    </head>
    <body>
        <div class="container">    
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">LINE NUMBER: <%=line_number%></div>
                        
                    </div>
                    <div class="col">CML NUMBER: <%=cml_number%></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <th  colspan="3">TEST POINT</th>
                                <th><button type="button" class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#ModalTPForm">Add TP</button></th>
                                <!-- Modal HTML Markup -->
                            <div id="ModalTPForm" class="modal fade">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title">ADD FORM</h3>
                                        </div>
                                        <div class="modal-body">
                                            <form role="form" method="POST" action="/tp/add/?id=<%=id%>">
                                                <input type="hidden" name="_token" value="">
                                                <div class="form-group">
                                                    <label class="control-label">Line number</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="line_number" value="<%=line_number%>" readonly="readonly"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">CML number</label>
                                                    <div>
                                                        <input type="number" class="form-control input-lg" name="cml_number" value="<%=cml_number%>" readonly/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">TP number</label>
                                                    <div>
                                                        <input type="number" class="form-control input-lg" name="tp_number" required/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">TP description</label>
                                                    <div>
                                                        <input type="number" class="form-control input-lg" name="tp_description" />
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="control-label">Note</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="note" />
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <div>
                                                        <button type="submit" class="btn btn-success">ADD</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            </tr>
                            <tr>
                                <th>TP number</th>
                                <th>TP description</th>
                                <th>Note</th>
                                <th></th>
                            </tr>
                            <%
                            if(tp_data.length > 0)
                            {
                                tp_data.forEach(function(data){
                            %>
                            
                            <tr>
                                <td><%= data.tp_number %></td>
                                <td><%= data.tp_description %></td>
                                <td><%= data.note %></td>
                                
                                <td>
                                    <a href="/tp/view/?id=<%= data.id_test %>&line_number=<%=line_number%>" class="btn btn-primary btn-sm">VIEW</a>
                                    <a href="/tp/get/edit/<%= data.id_test %>" class="btn btn-primary btn-sm">EDIT</a>
                                    <a href="/tp/delete/<%= data.id_test %>" class="btn btn-danger btn-sm">DEL</a>
                                </td>
                            </tr>
                            <!-- Modal HTML Markup -->
                            <div id="ModalTPForm" class="modal fade">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        
                                        <div class="modal-body">
                                            <form role="form" method="POST" action="/tp/add/">
                                                <input type="hidden" name="_token" value="">
                                                <div class="form-group">
                                                    <label class="control-label">CML number</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="tp_number" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">TP description</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="tp_description" />
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="control-label">Note</label>
                                                    <div>
                                                        <input type="text" class="form-control input-lg" name="note" />
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <div>
                                                        <button type="submit" class="btn btn-success">EDIT</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <%
                                });
                            }
                            else
                            {
                            %>
                            <tr>
                                <td colspan="5">No Data Found</td>
                            </tr>
                            <%
                            }
                            %>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div> 

       
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       
    </body>
</html>